.text-secondary {
  font-size: 0.875rem;
}
.text-header {
  font-size: 1.25rem;
  font-weight: bold;
}
.text-subheader {
  font-size: 1rem;
  font-weight: bold;
}
.text-big-header {
  font-size: 1.5rem;
  font-weight: bold;
}
.text.center, .center.text-secondary, .center.text-header, .center.text-subheader, .center.text-big-header {
  text-align: center;
}
.text.gray, .gray.text-secondary, .gray.text-header, .gray.text-subheader, .gray.text-big-header {
  color: #4a484d;
}

* {
  margin: 0;
  color: #222831;
  font-family: "Inter", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: #EEE3CB;
}

.debug-box {
  background-color: red;
  border: solid 2px blue;
}

.grid {
  display: grid;
  row-gap: 0.5em;
  column-gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.grid.home {
  grid-template-columns: 1fr 1fr;
}
.grid.techstack {
  grid-template-columns: repeat(auto-fit, minmax(100px, 4fr));
}

.box {
  display: flex;
  border-width: 0.15em;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  padding: 0.5em 1em;
}
.box.v {
  flex-direction: column;
}
.box.panel, .box.panel-dashed, .box.panel-primary {
  border-width: 0.15em;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  padding: 0.5em 1em;
}
.box.panel-primary {
  background-color: #B7C4CF;
}
.box.panel-dashed {
  border-style: dashed;
  border-color: #222831;
}
.box.panel.xs, .box.xs.panel-primary, .box.xs.panel-dashed {
  border-width: 0.15em;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  padding: 0.125em 0.25em;
}
.box.panel.s, .box.s.panel-primary, .box.s.panel-dashed {
  border-width: 0.15em;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
}
.box.panel.m, .box.m.panel-primary, .box.m.panel-dashed {
  border-width: 0.15em;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  padding: 0.5em 1em;
}
.box.panel.l, .box.l.panel-primary, .box.l.panel-dashed {
  border-width: 0.15em;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  padding: 1em 2em;
}
.box.panel.xl, .box.xl.panel-primary, .box.xl.panel-dashed {
  border-width: 0.15em;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  padding: 2em 4em;
}
.box.full-height {
  height: 80vh;
}
.box.align-center {
  align-items: center;
}
.box.justify-center {
  justify-content: center;
}
.box.gap-xs {
  gap: 0.25em;
}
.box.gap-s {
  gap: 0.5em;
}
.box.gap-m {
  gap: 1em;
}
.box.gap-l {
  gap: 2em;
}
.box.gap-xl {
  gap: 4em;
}

.margin {
  padding: 2em 4em;
}

@media only screen and (max-width: 650px) {
  .margin {
    padding: 1em 2em;
  }
}
body > .margin:first-of-type {
  margin-top: calc(2em + 2rem);
}

.portrait {
  border-radius: 50%;
  max-width: 30vh;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: 5px;
}
.icon.small {
  height: 0.8rem;
  width: 0.8rem;
}
.icon.large {
  height: 3rem;
  width: 3rem;
}
.icon.responsive {
  height: 5rem;
  width: 5rem;
}
@media only screen and (max-width: 650px) {
  .icon.responsive {
    height: 3rem;
    width: 3rem;
  }
}
.icon.larger {
  height: 6rem;
  width: 6rem;
}
.icon.extra-large {
  height: 9rem;
  width: 9rem;
}
.icon.fill-height {
  height: 100%;
  aspect-ratio: 1/1;
}
.icon.expand {
  width: 100%;
  height: fit-content;
}
.icon.expand-contain {
  width: 100%;
  height: 100%;
  transform: scale(80%, 80%);
}
.icon.light {
  -webkit-filter: saturate(0%) brightness(0%) invert(93.3333333333%) opacity(1);
  filter: saturate(0%) brightness(0%) invert(93.3333333333%) opacity(1);
  filter: url('data:image/svg+xml;utf8,  <svg xmlns="http://www.w3.org/2000/svg">    <filter id="recolor" color-interpolation-filters="sRGB">      <feColorMatrix type="matrix" values="        0 0 0 0 0.9333333333        0 0 0 0 0.9333333333        0 0 0 0 0.9333333333        0 0 0 1 0      "/>    </filter>  </svg>  #recolor');
}
.icon.dark {
  -webkit-filter: saturate(0%) brightness(0%) invert(16.2745098039%) opacity(1);
  filter: saturate(0%) brightness(0%) invert(16.2745098039%) opacity(1);
  filter: url('data:image/svg+xml;utf8,  <svg xmlns="http://www.w3.org/2000/svg">    <filter id="recolor" color-interpolation-filters="sRGB">      <feColorMatrix type="matrix" values="        0 0 0 0 0.1333333333        0 0 0 0 0.1568627451        0 0 0 0 0.1921568627        0 0 0 1 0      "/>    </filter>  </svg>  #recolor');
}
.icon.gray-color {
  -webkit-filter: saturate(0%) brightness(0%) invert(29.2156862745%) opacity(1);
  filter: saturate(0%) brightness(0%) invert(29.2156862745%) opacity(1);
  filter: url('data:image/svg+xml;utf8,  <svg xmlns="http://www.w3.org/2000/svg">    <filter id="recolor" color-interpolation-filters="sRGB">      <feColorMatrix type="matrix" values="        0 0 0 0 0.2901960784        0 0 0 0 0.2823529412        0 0 0 0 0.3019607843        0 0 0 1 0      "/>    </filter>  </svg>  #recolor');
}
.icon.positive {
  -webkit-filter: saturate(0%) brightness(0%) invert(64.1176470588%) opacity(1);
  filter: saturate(0%) brightness(0%) invert(64.1176470588%) opacity(1);
  filter: url('data:image/svg+xml;utf8,  <svg xmlns="http://www.w3.org/2000/svg">    <filter id="recolor" color-interpolation-filters="sRGB">      <feColorMatrix type="matrix" values="        0 0 0 0 0.4745098039        0 0 0 0 0.8078431373        0 0 0 0 0.4784313725        0 0 0 1 0      "/>    </filter>  </svg>  #recolor');
}
.icon.negative {
  -webkit-filter: saturate(0%) brightness(0%) invert(64.1176470588%) opacity(1);
  filter: saturate(0%) brightness(0%) invert(64.1176470588%) opacity(1);
  filter: url('data:image/svg+xml;utf8,  <svg xmlns="http://www.w3.org/2000/svg">    <filter id="recolor" color-interpolation-filters="sRGB">      <feColorMatrix type="matrix" values="        0 0 0 0 0.8078431373        0 0 0 0 0.4745098039        0 0 0 0 0.4745098039        0 0 0 1 0      "/>    </filter>  </svg>  #recolor');
}
.icon.html {
  content: url("../resources/icons/html.svg");
}
.icon.css {
  content: url("../resources/icons/css.svg");
}
.icon.sass {
  content: url("../resources/icons/sass.svg");
}
.icon.javascript {
  content: url("../resources/icons/javascript.svg");
}
.icon.jquery {
  content: url("../resources/icons/jquery.svg");
}
.icon.mysql {
  content: url("../resources/icons/mysql.svg");
}
.icon.java {
  content: url("../resources/icons/java.svg");
}
.icon.php {
  content: url("../resources/icons/php.svg");
}
.icon.python {
  content: url("../resources/icons/python.svg");
}
.icon.godot {
  content: url("../resources/icons/godot.svg");
}
.icon.c {
  content: url("../resources/icons/c.svg");
}
.icon.c-sharp {
  content: url("../resources/icons/c-sharp.svg");
}
.icon.burger-menu {
  content: url("../resources/icons/burger-menu.svg");
}
.icon.code {
  content: url("../resources/icons/code.svg");
}
.icon.down-arrow {
  content: url("../resources/icons/down-arrow.svg");
}
.icon.circle-dashed {
  content: url("../resources/icons/circle-dashed.svg");
}

.hovering-anim {
  animation: hovering 1.5s ease 9s infinite forwards;
}

@keyframes hovering {
  0% {
    transform: translateY(0%);
  }
  60% {
    transform: translateY(-35%);
  }
  100% {
    transform: translateY(0%);
  }
}
.rotate {
  width: 30vh;
  height: 30vh;
  position: absolute;
  animation: rotating 30s linear 0s infinite both;
}

@keyframes rotating {
  0% {
    transform: scale(1.25) rotate(0deg);
  }
  100% {
    transform: scale(1.25) rotate(360deg);
  }
}
.file-upload {
  transition: 0.2s background-color ease;
}
.file-upload.is-dragover {
  background-color: rgba(112, 112, 112, 0.3411764706);
}
.file-upload > .uploading,
.file-upload .success-upload {
  display: none;
}

input {
  border-style: none;
  font-size: 1rem;
  padding: 0.5em 1em;
  color: #EEEEEE;
  background-color: #222831;
  border-radius: 0.25em;
}

button {
  border-style: none;
  font-size: 1rem;
  padding: 0.5em 1em;
  color: #EEEEEE;
  background-color: #222831;
  border-radius: 1em;
  cursor: pointer;
}
button:hover {
  box-shadow: 0px 0px 10px 4px rgba(34, 40, 49, 0.4);
}

@keyframes swipedown {
  100% {
    transform: translate(0, 0);
  }
}
nav {
  z-index: 100;
  box-shadow: 0px 0px 10px 4px rgba(34, 40, 49, 0.4);
  background-color: #EEE3CB;
  padding: 0.25em 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100%;
}
nav.home {
  transform: translateY(-100%);
  animation: swipedown 1s ease 7s 1 forwards;
}
nav span {
  padding: 0.25em 0.5em;
  display: flex;
  align-self: center;
  border-bottom: solid 3px transparent;
  flex-grow: 1;
  transform: translateY(5px);
}
nav span .icon {
  padding: 0.25em 0.5em;
  display: flex;
  flex-grow: 0;
  align-self: center;
  width: fit-content;
  width: auto;
  transform: translateY(-3.5px);
  height: 1.2rem;
  width: 1.2rem;
}
nav #burger-menu {
  display: none;
}
@media only screen and (max-width: 650px) {
  nav li {
    display: none;
  }
  nav .menu > li {
    display: flex;
  }
  nav #burger-menu {
    display: flex;
  }
}
nav li {
  text-decoration: none;
  list-style: none;
  padding: 0.5em 1em;
  margin: 0;
  margin-right: 1rem;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0);
  transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  cursor: pointer;
  border-bottom: solid 3px transparent;
}
nav li:hover {
  border-bottom: solid 3px #967E76;
}
nav li.active {
  border-bottom: solid 3px #967E76;
  font-weight: bold;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
nav .icon {
  width: 100%;
}
nav .menu {
  flex-direction: column;
  display: flex;
  position: absolute;
  right: 1em;
  top: 3.5em;
  width: 70%;
  background-color: #EEE3CB;
  padding: 0 1em;
  overflow: hidden;
  transition: all 0.6s ease;
}
nav .menu.show {
  box-shadow: 0px 0px 10px 4px rgba(34, 40, 49, 0.4);
  height: 10em;
}
nav .menu.hidden {
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0);
  height: 0px;
}

.greeting {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  font-size: 4em;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100%;
  opacity: 0;
  transform: translateY(-25%);
  animation: slidein 5s ease 1.5s 1 forwards;
}

body.home > div {
  opacity: 0;
  animation: fadein 1.5s ease 7.5s 1 forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slidein {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  80% {
    opacity: 1;
    transform: translateY(-2%);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(20%);
  }
}
footer {
  background-color: #222831;
  margin-top: 4em;
  width: 100%;
  padding: 1em 0px;
}
footer > div {
  color: #EEEEEE;
  font-size: 0.75rem;
}
footer > div > span {
  color: #EEEEEE;
  font-size: 0.9em;
}