$color-primary: #222831;
$color-secondary: #D7C0AE;
$color-accent: #967E76;
$color-dark-text: #222831;
$color-mid-text: #4a484d;
$color-light-text: #EEEEEE;
$color-background: #EEE3CB;
$color-success: #79ce7a;
$color-error: #ce7979;

$size-xxs: 0.125em;
$size-xs: 0.25em;
$size-s: 0.5em;
$size-m: 1em;
$size-l: 2em;
$size-xl: 4em;
$size-xxl: 8em;

$font-xxs: 0.625rem;
$font-xs: 0.75rem;
$font-s: 0.875rem;
$font-m: 1rem;
$font-l: 1.25rem;
$font-xl: 1.5rem;
$font-xxl: 1.75rem;
